<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Мой сайт, главная</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <h1>Поздравляем {{ request.user }}, Вы залогинились!</h1>
    <ul>
        <li><a href="/auth/logout/">Валим отсюда</a></li>
    {% else %}
    <h2>Приветствуем Вас, неизвестный пользователь!</h2>
    <ul>
        <li><a href="/auth/login/?next=/">Представиться</a></li>
    {% endif %}
        <li><a href="/chat/">Чат</a></li>
        <li><a href="/tornado/">Торнадо</a></li>
    </ul>
</body>
</html>
