<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Мой сайт, главная</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h2>Поздравляем {{ request.user }}, Вы залогинились!</h2>
        <ul>
            <li><a href="/auth/logout">Выйти</a></li>
    {% else %}
        <h2>Приветствуем Вас, неизвестный пользователь!</h2>
        <ul>
            <li><a href="/auth/login?next=/">Войти</a></li>
    {% endif %}

            <li><a href="/chat/">Чат</a></li>
            <li><a href="/tornado/">Торнадо</a></li>

            {% if request.user.is_authenticated %}
                <li>Список зарегистрированных пользователей</li>
                    <ol>
                        {% for username in userList %}
                            <li>{{ username }}</li>
                        {% endfor %}
                    </ol>
            {% endif %}
        </ul>

</body>
</html>
