{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Наш чатик</title>
    <link rel="stylesheet" type="text/css" href="{% static "mychat/main.css" %}">
</head>
<body>
    <div id="working-area" class="black-bordered">
        
        <div id="messages" class="black-bordered">
        </div>

        <div id="edit-area" class="black-bordered">
            <form id="msgForm" action="/chat/new-message">
                {# {% csrf_token %} #}
                <input id="btnSendMsg" type="submit" value="Отправить"/>
                <textarea id="msgText"></textarea>
            </form>
        </div>
    </div>

    <div id="info-area" class="black-bordered">

        <div id="user-info" class="black-bordered">
            Здесь будет информация о пользователе, вот так то.
        </div>

        <div id="users-list" class="black-bordered">
            Список пользователей:
            {% if userList %}
                <ol>
                {% for username in userList %}
                    <li>{{ username }}</li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'mychat/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'mychat/main.js' %}"></script>
    
</body>
</html>
